body {
    margin-top: 0;
    background-color: rgb(32, 35, 41);
    font-family: Arial, Helvetica, sans-serif;
}
div {
    display: block;
    box-sizing: border-box;
}
#mainWrapper {
    width: 100%;
}
#mainContainer {
    width: 1200px;
    background-color: rgb(36, 40, 47);
    margin: 0 auto;
    color: rgb(158, 158, 158);
}
.charactersListWrapper {
    padding: 10px 20px;
    float: left;
}
.charactersListWrapper h1 {
    text-align: center;
}
.charactersListContainer {
    width: 100%;
    float: left;
    position: relative;
}
.contentOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    cursor: progress;
    display: none;
    transition: height 0.2s ease-in;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
.contentOverlay.activated {
    display: block;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #e73c7e, #ee7752);
    background-size: 400% 400%;
    animation: overlayGradient 4s ease infinite;
    opacity: 0.2;
    z-index: 2;
}
.characterCard {
    border-radius: 5px;
    background-color: rgb(60, 62, 68);
    width: 540px;
    height: 240px;
    display: block;
    float: left;
    margin: 20px;
}
.imageWrapper {
    width: 240px;
    height: 240px;
    overflow: hidden;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.imageWrapper img {
    transform: scale(0.8);
    margin-left: -30px;
    margin-top: -30px;
    transition: transform 0.3s ease-in;
    cursor: not-allowed;
}
.imageWrapper img:hover {
    transform: scale(0.85);
}
.characterInfo {
    width: 300px;
    float: left;
    color: rgb(245, 245, 245);
    padding: 10px 15px;;
}
.characterInfo a.characterName {
    font-size: 1.25rem; 
    text-decoration: none;
    color: rgb(245, 245, 245);
}
.characterInfo span.status {
    font-size: 1rem;
    height: 1rem;
    display: block;
    margin-top: 5px;
    transition: height 0.3s ease-in;
}
.characterInfo span.status.expandable {
    height: 1.1rem;
    overflow: hidden;
    width: 280px;
    cursor: help;
}
.characterInfo span.status.expandable.episodes {
    max-height: 200px;
    overflow-y: scroll;
}
.characterInfo span.status.expandable:hover {
    height: auto;
    background-color: beige;
    position: absolute;
    width: 270px;
    background-color: rgb(60, 62, 68);
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
}
.characterInfo span.status.expandable.hh {
    height: auto;
}
.characterInfo span.status.sTitle {
    color: rgb(158, 158, 158);
    font-size: 0.9rem
}
.characterInfo span.status.expandable.episodes ul {
    margin-top: 0;
    color: #fff;
    padding-left: 20px;;
}
.characterInfo span.status.expandable.episodes ul li {
    margin-bottom: 5px;
}
.characterInfo a.characterName:hover {
    color: rgb(255, 152, 0);
}
.characterInfo .statusBall {
    display: block;
    float: left;
    width: 10px;
    border: none;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(85, 204, 68);
    margin-top: 3px;
    margin-right: 5px;
}
.characterInfo .statusBall.Dead {
    background-color: red;
}
.characterInfo .statusBall.unknown {
    background-color: gray;
}
.characterInfo .section {
    display: block;
    float: left;
    width: 100%;
    height: 55px;
}
.locationExtraInfo {
    font-size: 12px;
    color: rgb(158, 158, 158);
}
.paginationContainer {
    width: 100%;
    height: 60px;
    float: left;
    padding: 10px 20px
}
.listPaginationBtn {
    line-height: 24px;
    padding: 5px 20px;
    width: 120px;
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.listPaginationBtn:hover {
    background-color: #23d5ab;
}
.listPaginationBtn.disabled {
    background-color: silver;
    cursor: not-allowed;
}
.listPaginationBtn.disabled:hover {
    background-color:rgb(60, 62, 68);
    color: #fff;
    cursor: not-allowed;
}
.previousPage {
    float: left;
}

.nextPage {
    float: right;
}

@keyframes overlayGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media(max-width: 1199px) {
    #mainContainer {
        width: 760px;
    }
    .characterCard {
        width: 320px;
        height: 560px;
    }
    .characterCard .imageWrapper,
    .characterCard .characterInfo {
        width: 320px;
    }
    .characterCard .imageWrapper {
        height: 320px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: unset;
    }
    .characterCard .characterInfo {
        height: 240px;
    }
    .characterCard .imageWrapper img {
        transform: scale(1.07);
        margin-left: 10px;
        margin-top: 10px;
    }
    .characterCard .imageWrapper img:hover {
        transform: scale(1.3);
    }
    .status.expandable {
        z-index: 1;
    }
}


@media(max-width: 767px) {
    #mainContainer {
        width: 360px;
    }
    .characterCard {
        margin: 10px;
    }
    .charactersListWrapper {
        padding: 10px;
    }
    .paginationContainer {
        padding: 10px;
    }
    .listPaginationBtn {
        width: 150px;
    }
}
